main {
    margin: 1rem auto;

    width : 80vw;
    height: 80vh;
    margin: 32px auto;

    display: flex;

    position: relative;
}

.container {
    height: minmax(0, 1fr);
    width : minmax(0, 1fr);

    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows   : 1fr;

    position : relative;
    left     : 50%;
    transform: translateX(-50%);
}

.container div {
    height: 100%;
    width : 100%;
}

.contactImage {
    max-width : 100%;
    max-height: 100%;
}

.informacoesContato {
    padding: 2rem;
}

.informacoesContato ul {
    list-style: none;
    line-height: 1.5;
    padding: 0 0.3rem;
    letter-spacing: 0.05rem;
}

.informacoesContato ul li::before {
    content    : "-";
    text-indent: -5px;
}